#darkMode {
  background-color: black;
  color: white;
}

#lightMode {
  background-color: rgb(white, white, white, 0.2);
  color: black;
}

#darkText {
  color: white;
}

#lightText {
  color: black;
}
